@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

.gridOfCards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.gridEj1 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.heightMax {
  height: 100vh;
}